<?xml version="1.0" encoding="UTF-8" ?>
<suite name ="ebay">
    <listeners>
        <listener class-name ="TestTracking"></listener>
    </listeners>
    <test name ="regression">
        <classes>
            <class name="HomeTest"></class>
            <class name="Page2Test"></class>
        </classes>
    </test>
</suite>